body {
  margin: 0;
  font-family: "Britannic Bold", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: yellow;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}



td {
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 73px;
  height: 73px;
}
.element td {
  width: 100%;
  height: auto;
}

.empty {
  border: hidden;
}

table.split{
  border-spacing: 20px 0 0 0;
  margin-top: 20px;
}

.d-block {
  background-color: yellow;
}

.s-block {
  background-color: red;
}

.p-block {
  background-color: blue;
}

.f-block {
  background-color: green;
}
.element:hover {

}

.element:hover .element-info-tooltip{
  opacity: 1;
  visibility: visible;
}

.element-info-tooltip {
  background-color:inherit;
  border: solid 5px ;
  border-radius: 10%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  z-index: 1;
  position: absolute;
}

.symbol{
  font-size: 300%;
}
