body {
  margin: 0;
  font-family: monospace;
}

header {
  background-color: yellow;
  font-size: 100px;
  text-align: center;
  font-family: "Britannic Bold";
  padding: 10px;
}



td {
  border: 1px solid blue;
  width: 73px;
  height: 73px;
}
.element td {
  width: 100%;
  height: auto;
}

.empty {
  border: hidden;
}

.split {
  border-spacing: 12px 0 0 0;
}

.yellow {
  background-color: yellow;
  text-align: center;
}
