body {
  margin: 0;
  font-family: "Britannic Bold", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: yellow;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}

td {
  font-weight: bold;
  text-align: center;
  border-radius: 10%;
  border: 2px solid;
  width: 73px;
  height: 73px;
}

.element td {
  width: 100%;
  height: auto;
}

.empty {
  border: hidden;
  empty-cells: hide;
}

table.split{
  margin-top: 20px;
}

.d-block {
  border-color: Orange;
}

.s-block {
  border-color: DarkRed;
}

.p-block {
  border-color: DarkBlue;
}

.f-block {
  border-color: DarkGreen;
}

.element:hover .element-info-tooltip{
  opacity: 1;
  visibility: visible;
}

.element-info-tooltip {
  background-color:inherit;
  width: 120px;
  border: solid 5px ;
  border-radius: 10%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  z-index: 1;
  position: absolute;
}

.element-info-tooltip table{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.element-info-tooltip table td{
  border: none;
}

.symbol{
  font-size: 300%;
}

.atomic-number{
  text-align: left;
}


.lanthanoid{
  background-color: SpringGreen;
}
.actinoid{
  background-color: YellowGreen;
}
.alkali-metal{
  background-color: Coral;
}
.alkaline-earth-metal{
  background-color: Salmon;
}
.transition-metal{
  background-color: Gold;
}
.post-transition-metal{
  background-color: SteelBlue;
}
.metalloid{
  background-color: SlateBlue;
}
.other-nonmetal{
  background-color: DarkTurquoise;
}
.noble-gas{
  background-color: SkyBlue;
}
.na{
  background-color: LightGray;
}
